<p id="notice"><%= notice %></p>

<h1>User</h1>
<%= link_to 'New User', new_user_path %>

<%= link_to 'Edit', edit_user_path(@user) %> |

<div id="menuBtn"><%= link_to 'Address', addr_home_path %></div



<br>
